body {
  font-family: Open Sans;
  background-color: #99A0CF;
  color: #F0FFFF;
}

#nav-edit {
  background-color: #616683;
  color: #F0FFFF;
}

.navbar {
  margin-bottom: 0;
  background-color: #616683;
}

.navbar #span-edit {
  font-size: 2.5rem;
  font-family: Josefin Slab;
  font-weight: bold;
  color: #F0FFFF;
}

/* Parralax */

main {
  background-image: url(../images/skyline-calgary.jpg);
  height: 55rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  opacity: 0.8;
  padding-top: 25rem;
}


main h1 {
  margin-top: 0;
  font-size: 6.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

main h2 {
  margin-bottom: 0;
}

main img {
  height: 19rem;
  padding-left: 2rem;
}

@media only screen and (min-width: 768px) {
  main {
    padding-top: 14rem;
  }
  main h1 {
    font-size: 10rem;
  }
  main h2 {
    font-size: 5rem;
  }
  main img {
    height: 28rem;
  }
}

.experience img {
  width:100%;
  padding: 0 4rem 0 4rem;
  transition-duration: 0.5s;
}

.experience img:hover {
  transform: scale(1.6)
}

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.9;
  transition-duration: 0.5s;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.1);
}

section {
  background-color: #5B6CCF;
  padding-top: 4rem;
  border-bottom: 1px solid #99A0CF;
  padding-bottom: 4rem;
}

section h1 {
  font-family: Josefin Slab;
  font-weight: bold;
  font-size: 4rem;
  padding-bottom: 2rem;
  padding-top: o;
}

section h2 {
  font-family: Josefin Slab;
  font-weight: bold;
}

section.experience p {
  line-height: 2;
  font-size: 1.8rem;
}

section.projects img{
  width: 100%;
}

footer {
  margin: 10rem 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

footer a {
  color: white;
  padding: 1rem;
}
